<div friend-list-initial ng-controller="TableListCtrl" class="container-fluid" id="friendList">
    <div class="menuArea row">
		<div class="topMenu">
			<label class="mItems">
				<a  href="http://127.0.0.1:3000/index.html#/friendList">棋友</a>
				<a  href="http://127.0.0.1:3000/index.html#/roomList">棋室</a>
				<a  href="http://127.0.0.1:3000/index.html#/roomList">规则</a>
			</label>
		</div>
	</div>
	<div class="mainView row">
		<ul class="pList">
			<li class="pItem col-lg-3 col-md-4 col-sm-6 col-xs-12">
				<div class="friendInfo">
					<p class="uInfo">
						<a><img class="uIcon" src="images/user.png" /><span class="uName">刘文津</span></a>
					</p>
					<p class="opInfo"><a>其他</a><a>约战</a><a>留言</a></p>
				</div>
			</li>
			<li class="pItem col-lg-3 col-md-4 col-sm-6 col-xs-12">
				<div class="friendInfo">
					<p class="uInfo">
						<a><img class="uIcon" src="images/user.png" /><span class="uName">刘文津</span></a>
					</p>
					<p class="opInfo"><a>其他</a><a>约战</a><a>留言</a></p>
				</div>
			</li>
			<li class="pItem col-lg-3 col-md-4 col-sm-6 col-xs-12">
				<div class="friendInfo">
					<p class="uInfo">
						<a><img class="uIcon" src="images/user.png" /><span class="uName">刘文津</span></a>
					</p>
					<p class="opInfo"><a>其他</a><a>约战</a><a>留言</a></p>
				</div>
			</li>
			<li class="pItem col-lg-3 col-md-4 col-sm-6 col-xs-12">
				<div class="friendInfo">
					<p class="uInfo">
						<a><img class="uIcon" src="images/user.png" /><span class="uName">刘文津</span></a>
					</p>
					<p class="opInfo"><a>其他</a><a>约战</a><a>留言</a></p>
				</div>
			</li>
			<li class="pItem col-lg-3 col-md-4 col-sm-6 col-xs-12">
				<div class="friendInfo">
					<p class="uInfo">
						<a><img class="uIcon" src="images/user.png" /><span class="uName">刘文津</span></a>
					</p>
					<p class="opInfo"><a>其他</a><a>约战</a><a>留言</a></p>
				</div>
			</li>
			<li class="pItem col-lg-3 col-md-4 col-sm-6 col-xs-12">
				<div class="friendInfo">
					<p class="uInfo">
						<a><img class="uIcon" src="images/user.png" /><span class="uName">刘文津</span></a>
					</p>
					<p class="opInfo"><a>其他</a><a>约战</a><a>留言</a></p>
				</div>
			</li>
			
		</ul>
	</div>
</div>

