<div room-list-initial ng-controller="TableListCtrl" class="container-fluid" id="roomList">
    <div class="menuArea row">
		<div class="topMenu">
			<label class="mItems">
				<a  href="http://127.0.0.1:3000/index.html#/friendList">棋友</a>
				<a  href="http://127.0.0.1:3000/index.html#/roomList">棋室</a>
				<a  href="http://127.0.0.1:3000/index.html#/roomList">规则</a>
			</label>
		</div>
	</div>
	<div class="mainView row">
		<ul class="rList row">
			<li class="rItem col-lg-3 col-md-4 col-sm-6 col-xs-12">
				<div class="roomInfo">
					<p class="rInfo">
						<a>
							<img class="rIcon" src="images/user.png" />
							<span class="rName">喜刷刷棋室1####</span>
						</a>
					</p>
					<p class="rInfo">
						<a href="http://127.0.0.1:3000/index.html#/tableList"><span>进入</span></a>
					</p>
				</div>
			</li>
			<li class="rItem col-lg-3 col-md-4 col-sm-6 col-xs-12">
				<div class="roomInfo">
					<p class="rInfo">
						<a><img class="rIcon" src="images/user.png" /><span class="rName">喜刷刷棋室1</span></a>
					</p>
					<p class="rInfo">
						<a class="" href="http://127.0.0.1:3000/index.html#/tableList"><span>进入</span></a>
					</p>
				</div>				
			</li>
			<li class="rItem col-lg-3 col-md-4 col-sm-6 col-xs-12">
				<div class="roomInfo">
					<p class="rInfo">
						<a><img class="rIcon" src="images/user.png" /><span class="rName">喜刷刷棋室1</span></a>
					</p>
					<p class="rInfo">
						<a href="http://127.0.0.1:3000/index.html#/tableList"><span>进入</span></a>
					</p>
				</div>				
			</li>
			<li class="rItem col-lg-3 col-md-4 col-sm-6 col-xs-12">
				<div class="roomInfo">
					<p class="rInfo">
						<a><img class="rIcon" src="images/user.png" /><span class="rName">喜刷刷棋室1</span></a>
					</p>
					<p class="rInfo">
						<a href="http://127.0.0.1:3000/index.html#/tableList"><span>进入</span></a>
					</p>
				</div>			
			</li>			
		</ul>
	</div>
</div>

