<div table-list-initial ng-controller="TableListCtrl" class="container-fluid" id="tableList">
    <div class="topTitle row">
		<a class="backBtn col-lg-1 col-md-1 col-sm-1 col-xs-2" href="http://127.0.0.1:3000/index.html#/roomList">返回</a>
		<label class="title col-lg-11 col-md-11 col-sm-11 col-xs-10">喜刷刷棋室</label>
	</div>
	<div class="mainView">
		<ul class="tList">			
			<li class="pItem col-lg-3 col-md-4 col-sm-6 col-xs-12">
				<a class="tableInfo" href="http://127.0.0.1:3000/index.html#/gameTable">
					<p><img class="uIcon" src="images/user.png" /><span class="uName">张三</span></p>
					<p><img class="uIcon" src="images/user.png" /><span class="uName">李四</span></p>
				</a>
			</li>
			<li class="pItem col-lg-3 col-md-4 col-sm-6 col-xs-12">
				<a class="tableInfo" href="#">
					<p><img class="uIcon" src="images/user.png" /><span class="uName">张三</span></p>
					<p><img class="uIcon" src="images/user.png" /><span class="uName">李四</span></p>
				</a>
			</li>
			<li class="pItem col-lg-3 col-md-4 col-sm-6 col-xs-12">
				<a class="tableInfo" href="#">
					<p><img class="uIcon" src="images/user.png" /><span class="uName">张三</span></p>
					<p><img class="uIcon" src="images/user.png" /><span class="uName">李四</span></p>
				</a>
			</li>
			<li class="pItem col-lg-3 col-md-4 col-sm-6 col-xs-12">
				<a class="tableInfo" href="#">
					<p><img class="uIcon" src="images/user.png" /><span class="uName">张三</span></p>
					<p><img class="uIcon" src="images/user.png" /><span class="uName">李四</span></p>
				</a>
			</li>
			<li class="pItem col-lg-3 col-md-4 col-sm-6 col-xs-12">
				<a class="tableInfo" href="#">
					<p><img class="uIcon" src="images/user.png" /><span class="uName">张三</span></p>
					<p><img class="uIcon" src="images/user.png" /><span class="uName">李四</span></p>
				</a>
			</li>
			<li class="pItem col-lg-3 col-md-4 col-sm-6 col-xs-12">
				<a class="tableInfo" href="#">
					<p><img class="uIcon" src="images/user.png" /><span class="uName">张三</span></p>
					<p><img class="uIcon" src="images/user.png" /><span class="uName">李四</span></p>
				</a>
			</li>
			<li class="pItem col-lg-3 col-md-4 col-sm-6 col-xs-12">
				<a class="tableInfo" href="#">
					<p><img class="uIcon" src="images/user.png" /><span class="uName">张三</span></p>
					<p><img class="uIcon" src="images/user.png" /><span class="uName">李四</span></p>
				</a>
			</li>
			
			
		</ul>
	</div>
</div>

